$color-primary-0 		: #6F73A3;	/* Main Primary color */
$color-primary-1 		: #CACBDF;
$color-primary-2 		: #9A9DC0;
$color-primary-3 		: #4A4E87;
$color-primary-4 		: #2D326D;
$color-secondary-1-0: #EBDB94;	/* Main Secondary color (1) */
$color-secondary-1-1: #FFFAE3;
$color-secondary-1-2: #FFF4C4;
$color-secondary-1-3: #C3B05C;
$color-secondary-1-4: #9E8A33;
$color-secondary-2-0: #77BC77;	/* Main Secondary color (2) */
$color-secondary-2-1: #D0EAD0;
$color-secondary-2-2: #A5D6A5;
$color-secondary-2-3: #4A9C4A;
$color-secondary-2-4: #287E28;

$font-stack-header: 'Oswald', sans-serif; //'Syncopate', sans-serif;
$font-stack-header-bold: 700;
$font-stack-header-light: 400;

$font-stack-content: 'GFS Didot', serif; //'Merriweather Sans', sans-serif;
$font-stack-content-bold: 800;
$font-stack-content-normal: 400;
$font-stack-content-light: 300;

$font-stack-content-header: 'Merriweather Sans', sans-serif;
$font-stack-content-header-bold: 800;
$font-stack-content-header-normal: 400;
$font-stack-content-header-light: 300;
$font-stack-content-header-size-h1: 16px;
$font-stack-content-header-size-h3: 13px;
$font-stack-content-header-margin-bottom-h1: 10px;
$font-stack-content-header-margin-bottom-h3: 20px;


$contentStepContainer-width: 300px;


.tab-content {
	padding: 10px;	
	border-left: 1px solid RGBA(221, 221, 221, 1);
	border-right: 1px solid RGBA(221, 221, 221, 1);
	border-bottom: 1px solid RGBA(221, 221, 221, 1);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: white;
}

.formBanner {
	float: right;
	height: 200px;
	width: auto;
	border-radius: 10px;
	margin: 5px;
}

.formTitle {
	font-family: $font-stack-content-header;
	font-weight: $font-stack-content-header-bold;
	font-size: $font-stack-content-header-size-h1;
	margin-bottom: $font-stack-content-header-margin-bottom-h1;
}

.formIntro {
	font-family: $font-stack-content-header;
	font-weight: $font-stack-content-header-normal;
	font-size: $font-stack-content-header-size-h3;
	margin-bottom: $font-stack-content-header-margin-bottom-h3;
}

.formContent {
	margin: 20px 0;
	
	img {
			display: inline-block;
			position: relative;
			height: 150px;
			width: auto;
			margin: 10px;
			float: right;
	}
}

.formOutro {
	
}

.gridStyle {
	position: relative;
	display: block;
	left:0;
	right: 0;
	
	overflow-x: scroll;
	overflow-y: auto;
	img {
		height: auto;
		width: auto;
		float: none;
	}
}

.panel-group {
	margin-top:10px;
.panel {
	border: 2px solid silver;

.collapsible {
	background-color: white;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	}

.heading {
	font-family: $font-stack-content-header;
	font-weight: $font-stack-content-header-normal;
	font-size: $font-stack-content-header-size-h3;
	display: block;
	color: RGBA(45, 50, 109, 1);
	background-color: silver;
	padding: 2px 5px;
	cursor: pointer;
	}
}
}
.greenRooftop {
	
}

.bioretentionRooftop {
	img {
			display: block;
			position: relative;
			height: 200px;
			width: auto;
			margin: 10px;
			float: right;
			border-radius: 10px;
	}	
}

.cisternRooftop {
	img {
			display: block;
			position: relative;
			height: 200px;
			width: auto;
			margin: 10px;
			float: right;
			border-radius: 10px;
	}	
}

.swalesParking {
	img {
			display: block;
			position: relative;
			height: 200px;
			width: auto;
			margin: 10px;
			float: right;
			clear: right;
			border-radius: 10px;
	}	
}

.permeablePavementParking
{
	img {
			display: block;
			position: relative;
			height: 200px;
			width: auto;
			margin: 10px;
			float: right;
			clear: right;
			border-radius: 10px;
	}	
}
.jslider {
	width: 30%;
	margin: 10px 0 0 0;
}

.formFields {
margin-top: 20px;	
}

.textbox_name {
	display: inline-block;
	width: 350px;
	text-align: right;
	margin-right: 5px;
}

.textbox_field {
	display: inline-block;	
}

.nav-tabs {

	font-family: $font-stack-content-header;
	font-weight: $font-stack-content-header-bold;
	font-size: $font-stack-content-header-size-h3;
}