@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,400italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=GFS+Didot&subset=greek);
* {
  box-sizing: padding-box; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.body {
  height: 100%;
  width: 100%; }

.header {
  background-color: #BCCBBB;
  color: black;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 901;
  box-shadow: 0 0 10px black;
  padding-top: 5px;
  padding-left: 5px; }
  .header div {
    position: relative;
    display: inline-block; }
  .header h3 {
    margin: 5px 15px 5px 5px;
    font-size: 22pt;
    font-family: 'Oswald', sans-serif;
    font-weight: 700; }
  .header h2 {
    margin: 10px 15px 10px 0;
    font-size: 14pt;
    font-family: 'Oswald', sans-serif;
    font-weight: 700; }

.mainContent {
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 300px;
  position: absolute;
  min-height: 50px; }

.mainContentMapContainer {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: gray; }

#map0 {
  height: 100%; }

#toolbox {
  position: absolute;
  display: block;
  width: 300px;
  top: 50px;
  bottom: 50px;
  right: 0;
  z-index: 50; }

#drawToolbar {
  width: 300px;
  height: 200px;
  position: relative;
  background-color: blue; }

.esri-map {
  width: 100%;
  height: 100%; }

#geocoder {
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 74px; }

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 19px;
  color: #777;
  height: 50px;
  position: absolute;
  background-color: #BCCBBB;
  color: #BCCBBB;
  z-index: 900;
  box-shadow: 0 0 10px black; }
  .footer h5 {
    margin-left: 10px;
    margin-bottom: 10px; }

.flapWrapper {
  perspective: 3000px;
  perspective-origin: 0 50%; }

.clickthrough {
  pointer-events: none; }

.noclickthrough {
  pointer-events: auto; }

.formsVisible {
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-origin: 0% 50%;
  transform: rotateY(0deg);
  transform-origin: 0% 50%;
  -moz-transform: rotateY(0deg);
  -moz-transform-origin: 0% 50%;
  /*
	
	perspective-origin: 0% 50%;
	 
	perspective: 2000;
	-webkit-transform: rotateY(0deg); 
	-webkit-transform-origin: 0% 50%; 
	-webkit-perspective: 2000; 
	-webkit-perspective-origin: 0% 50%; 
	-moz-transform: rotateY(0deg); 
	-moz-transform-origin: 0% 50%; 
	-moz-perspective: 2000; 
	-moz-perspective-origin: 0% 50%; 
	-o-transform: rotateY(0deg); 
	-o-transform-origin: 0% 50%; 
	-o-perspective: 2000;
	*/ }

.formsNotVisible {
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  /*
	transform: rotateY(90deg); 
	perspective-origin: 0% 50%;
	transform-origin: 0% 50%;
	perspective: 2000;
	-webkit-transform: rotateY(90deg);
	-webkit-transform-origin: 0% 50%; 
	-webkit-perspective: 2000; 
	-webkit-perspective-origin: 0% 50%; 
	-moz-transform: scale(1.0) rotateY(90deg); 
	-moz-transform-origin: 0% 50%; 
	-moz-perspective: 2000; 
	-moz-perspective-origin: 0% 50%; 
	-o-transform: rotateY(90deg); 
	-o-transform-origin: 0% 50%; 
	-o-perspective: 2000;
	*/ }

/*# sourceMappingURL=main.css.map */