<div class="bioretentionRooftop">
<img class="contentImage_rainGarden" src="/images/rainGarden.jpg"/>
<p>Rain gardens are typically surface depressions with native plantings and amended soils used to capture, slow, infiltrate, and treat runoff from impervious surfaces, including rooftops. The amended soil can be underlain by a layer of gravel aggregate to store and infiltrate additional runoff. Stormwater from a disconnected roof downspout collects in the bioretention practice and infiltrates into the soil with the help of the long-rooted native plants. Bioretention practices are generally designed to pond to depths of 6-18 inches, with a complete drawdown in 48 hours. They provide volume control, groundwater recharge, moderate peak flows and provide an aesthetic alternative to a traditional stormwater pond.</p>
<p>This calculator uses default depths of 18 inches of amended soil substrate and 12 inches of gravel aggregate for bioretention facilities.</p>
<p>Use the Percentage of Rooftop Runoff Captured by Rain Garden slider bar to automatically adjust the area of the rain garden to capture different amounts of the runoff from your rooftop area, or adjust the specific design values below to determine the area and depth of the rain garden.</p>

<div style="margin-bottom: 15px;">
	<h4>Your Site</h4>
	<div style="margin-left: 100px;">
		Percentage of Rooftop Runoff Captured by Rain Garden: <input ng-model="sliderMax" class="slider" id="mySlider1" slider options="sliderOptions"/>
		<div style="font-weight:bold;font-size:12px;font-style:italic;clear:both;padding:10px;margin-left:30px;">OR fill in these fields...</div>
	</div>
	<div>
		<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Rain Garden Area (ft2):</div><div style="width: 50px;display: inline-block;"><input type="text" value="100"/></div></div>
		<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Prepared Soil Depth (in):</div><div style="width: 50px;display: inline-block;"><input type="text" value="12"/></div></div>
		<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Prepared Soil Porosity (Void Ratio):</div><div style="width: 50px;display: inline-block;"><input type="text" value="0.35"/></div></div>
		<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Underlying Aggregate Depth (in):</div><div style="width: 50px;display: inline-block;"><input type="text" value="12"/></div></div>
		<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Underlying Aggregate Porosity (Void Ratio):</div><div style="width: 50px;display: inline-block;"><input type="text" value="0.25"/></div></div>
	</div>
</div>
<button class="btn btn-default" ng-click="addNewPanel()">Add Another Rain Garden or Bioretention Item</button>

	<p>
		<h5>Sources:</h5>
		<ul>
			<li>Image source, <a href="http://www.mychamplain.net/raingardens" target="_blank">www.mychamplain.net/raingardens</a></li>
			<li>Vermont DEC's Green Stormwater Infrastructure webpage for bioretention, <a href="http://www.watershedmanagement.vt.gov/stormwater/htm/sw_gi_bmp_bioretention.htm" target="_blank">www.watershedmanagement.vt.gov/stormwater/htm/sw_gi_bmp_bioretention.htm</a></li>
			<li>National Green Values Calculator webpage for rain garden &mdash; rooftop disconnect, <a href="http://greenvalues.cnt.org/national/calculator.php" target="_blank">greenvalues.cnt.org/national/calculator.php</a></li>
			<li>Vermont Stormwater Management Manual (2002), <a href="http://www.anr.state.vt.us/dec/waterq/stormwater/docs/sw_manual-vol1.pdf" target="_blank">www.anr.state.vt.us/dec/waterq/stormwater/docs/sw_manual-vol1.pdf</a></li>
		</ul>
	</p>
</div>