<div class="cisternRooftop">
	<img src="/images/cistern.jpg"/>
	<img src="/images/rainBarrel.jpg"/>
	<p>Capture and reuse practices like rain barrels and cisterns are designed to intercept and store runoff from impervious surfaces, such as rooftops. Rain barrels and cisterns can help to reduce stormwater runoff and protect water quality by capturing runoff on-site. The rooftop runoff captured in these vessels can be used for uses like landscape irrigation or vehicle washing&#x2014;or the water can be slowly released to a lawn area, leaving the barrel or cistern ready to accept rain during the next storm. Underground cisterns can also be designed to allow for seeping release into the substrate to recharge groundwater.</p>
	<p>This calculator uses default volumes of 55 gallons for rain barrels and 500 gallons for cisterns.<p>
	<p>Use the &#x201c;Percentage of Rooftop Runoff Captured&#x201d; slider bar to automatically adjust the volumes of rain barrels or cisterns that capture different amounts of the runoff from your rooftop area, or adjust the specific design values below to determine the volume captured by these practices.</p>
	
	<div style="margin-bottom: 15px;">
		<h4>Your Site</h4>
		<div style="margin-left: 100px;">
			Percentage of Rooftop Runoff Captured by Rain Barrels / Cisterns: <input ng-model="sliderMax" class="slider" id="mySlider2" slider options="sliderOptions"/>
			<div style="font-weight:bold;font-size:12px;font-style:italic;clear:both;padding:10px;margin-left:30px;">OR adjust the values below to determine the rooftop runoff volume captured by rain barrels or cisterns...</div>
		</div>
		<div>
			<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Single Rain Barrel Capacity (gal):</div><div style="width: 50px;display: inline-block;"><input type="text" value="55"/></div></div>
			<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Number of Rain Barrels:</div><div style="width: 50px;display: inline-block;"><input type="text" value="0"/></div></div>
			<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Single Cistern Capacity (gal):</div><div style="width: 50px;display: inline-block;"><input type="text" value="500"/></div></div>
			<div><div style="width: 300px;padding-right: 5px;display: inline-block; text-align: right;">Number of Cisterns: </div><div style="width: 50px;display: inline-block;"><input type="text" value="0"/></div></div>
		</div>
	</div>
	
	<p>
	<h5>Sources:</h5> 
	<ul>
		<li>Image(s) source: <a href="http://letitrainvt.org/stormwater_solutions/" target="_blank">letitrainvt.org/stormwater_solutions</a></li>
		<li>Vermont DEC&#x2019;s Green Stormwater Infrastructure webpage for Capture and Use, <a href="http://www.watershedmanagement.vt.gov/stormwater/htm/sw_gi_bmp_captureandreuse.htm" target="_blank">www.watershedmanagement.vt.gov/stormwater/htm/sw_gi_bmp_captureandreuse.htm</a></li>
		<li>National Green Values Calculator webpage for Cisterns / Rain Barrels, <a href="http://greenvalues.cnt.org/national/calculator.php" target="_blank">greenvalues.cnt.org/national/calculator.php</a></li>
	</ul>
	</p>
	<h5>Note: The Vermont Stormwater Management Manual does not currently include rain barrels/cisterns, but a &#x201c;Rainwater Harvesting and Re-Use&#x201d; practice standard is under development for the revised manual, expected in 2015. See <a href="http://www.vtwaterquality.org/stormwater/htm/sw_manualrevision.htm" target="_blank">www.vtwaterquality.org/stormwater/htm/sw_manualrevision.htm</a> for details and current status of this effort.</h5>
</div>