@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,400italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=GFS+Didot&subset=greek);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700);
/* line 35, ../../app/styles/main.scss */
* {
  box-sizing: padding-box;
}

/* line 39, ../../app/styles/main.scss */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* line 41, ../../app/styles/main.scss */
.body {
  height: 100%;
  width: 100%;
}

/* line 45, ../../app/styles/main.scss */
.header {
  background-color: #d9d9d9;
  color: #558ed5;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 901;
  box-shadow: 0 0 10px black;
  padding-top: 5px;
  padding-left: 5px;
}
/* line 57, ../../app/styles/main.scss */
.header div {
  position: relative;
  display: inline-block;
}
/* line 61, ../../app/styles/main.scss */
.header h3 {
  margin: 5px 15px 5px 5px;
  font-size: 26pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
/* line 67, ../../app/styles/main.scss */
.header h2 {
  margin: 10px 15px 10px 0;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* line 75, ../../app/styles/main.scss */
.mainContent {
  top: 50px;
  bottom: 30px;
  left: 0;
  right: 300px;
  position: absolute;
  min-height: 50px;
}

/* line 84, ../../app/styles/main.scss */
.mainContentMapContainer {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: gray;
}

/* line 93, ../../app/styles/main.scss */
#map0 {
  height: 100%;
}

/* line 97, ../../app/styles/main.scss */
#toolbox {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  display: block;
  background-color: #275c9d;
  color: #d9d9d9;
  width: 300px;
  top: 50px;
  bottom: 30px;
  right: 0;
  z-index: 50;
}

/* line 111, ../../app/styles/main.scss */
#drawToolbar {
  		/*width: 300px;
  		height: 100px;
          */
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
}

/* line 120, ../../app/styles/main.scss */
.drawToolbarP {
  color: white;
  /*font-size: 14px;*/
  font-weight: 700;
  padding-right: 20px;
}

/* line 127, ../../app/styles/main.scss */
#toolintro {
  margin: 10px 15px 0px 0px;
  color: white;
  padding-left: 20px;
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* line 135, ../../app/styles/main.scss */
#townName {
  color: white;
  font-weight: 700;
}

/* line 140, ../../app/styles/main.scss */
#townInfo {
  padding-left: 20px;
  margin-top: 10px;
}

/* line 144, ../../app/styles/main.scss */
#selectedPanel {
  padding-left: 20px;
  margin-bottom: 10px;
}

/* line 148, ../../app/styles/main.scss */
#selectedP {
  float: left;
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

/* line 154, ../../app/styles/main.scss */
select {
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 20px;
}

/* line 160, ../../app/styles/main.scss */
p {
  padding: 0px;
  margin: 0px;
}

/* line 164, ../../app/styles/main.scss */
.clear {
  clear: both;
}

/* line 168, ../../app/styles/main.scss */
button {
  color: #558ed5;
}

/* line 171, ../../app/styles/main.scss */
.toolButton {
  float: left;
  padding: 5px;
}

/* line 175, ../../app/styles/main.scss */
#addSolar:hover {
  background-color: #d9d9d9;
}

/* line 180, ../../app/styles/main.scss */
.esri-map {
  width: 100%;
  height: 100%;
}

/* line 185, ../../app/styles/main.scss */
#geocoder {
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 74px;
}

/* line 195, ../../app/styles/main.scss */
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 3x;
  color: #777;
  position: absolute;
  background-color: #d9d9d9;
  color: #558ed5;
  z-index: 900;
  box-shadow: 0 0 10px black;
}
/* line 207, ../../app/styles/main.scss */
.footer h5 {
  margin-left: 10px;
  margin-bottom: 10px;
}
/* line 211, ../../app/styles/main.scss */
.footer .linkl {
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}
/* line 216, ../../app/styles/main.scss */
.footer .linkr {
  float: right;
  margin: 10px;
}

/* line 223, ../../app/styles/main.scss */
.flapWrapper {
  -webkit-perspective: 3000px;
  perspective: 3000px;
  -webkit-perspective-origin: 0 50%;
  perspective-origin: 0 50%;
}

/* line 230, ../../app/styles/main.scss */
.clickthrough {
  pointer-events: none;
}

/* line 234, ../../app/styles/main.scss */
.noclickthrough {
  pointer-events: auto;
}

/* line 239, ../../app/styles/main.scss */
.formsVisible {
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform: rotateY(0deg);
  -moz-transform-origin: 0% 50%;
  /*
  
  perspective-origin: 0% 50%;
   
  perspective: 2000;
  -webkit-transform: rotateY(0deg); 
  -webkit-transform-origin: 0% 50%; 
  -webkit-perspective: 2000; 
  -webkit-perspective-origin: 0% 50%; 
  -moz-transform: rotateY(0deg); 
  -moz-transform-origin: 0% 50%; 
  -moz-perspective: 2000; 
  -moz-perspective-origin: 0% 50%; 
  -o-transform: rotateY(0deg); 
  -o-transform-origin: 0% 50%; 
  -o-perspective: 2000;
  */
}

/* line 267, ../../app/styles/main.scss */
.formsNotVisible {
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  /*
  transform: rotateY(90deg); 
  perspective-origin: 0% 50%;
  transform-origin: 0% 50%;
  perspective: 2000;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%; 
  -webkit-perspective: 2000; 
  -webkit-perspective-origin: 0% 50%; 
  -moz-transform: scale(1.0) rotateY(90deg); 
  -moz-transform-origin: 0% 50%; 
  -moz-perspective: 2000; 
  -moz-perspective-origin: 0% 50%; 
  -o-transform: rotateY(90deg); 
  -o-transform-origin: 0% 50%; 
  -o-perspective: 2000;
  */
}
