<!-- Main Content -->
<div class="mainContent">
    <!-- left side - menu -->
    <div class="mainContentSteps">
        <div class="mainContentStep" ng-repeat="step in config.mainContentConfig.steps">
            <content-step id="step{{step.order}}" info="step"></content-step>
        </div>
    </div>
		<step-forms-wrapper></step-forms-wrapper>
		<div id="tocDiv"></div>
    <!-- right side - map -->
    <div class="mainContentMapContainer" 
    	ng-controller="MapController">
        <div id="geocoder"></div>
        <button id="btn_bmtoggle" 
        	class="btn btn-default" 
        	title="Basemaps">
        	Basemap Selection
        	</button>
        <ng-map id="map" 
        	center="-8128741.845769273,5529208.858634029" 
        	zoom="14" 
        	basemap="topo" 
        	onclick="click"
        	order="0">
        </ng-map>
    </div>
</div>
