<div id="toolbox">
	
	
	<div id="toolintro">
    Choose a community and start planning your clean energy future!
    </div>    
    <select ng-model="selectedTown"
		ng-options="name for (name, value) in townList" ng-change="change(selectedTown)">
	</select>
	<div id="townInfo">
        <p id="townName">{{selectedTown.name}} Statistics</p>
        <p id="townUse">Annual Use (kWh): {{selectedTown.energytotal | number : 0}}</p>
        <p id="townUse">Average Use/Household (kWh): {{selectedTown.energyhousehold | number :0}}</p>
    </div>
	<div id="drawToolbar">
		<!-- <button id="Point">Point</button> -->
        <p class="drawToolbarP">Click below then draw on the map to build solar panels</p>
        <div class="toolButton">
        	<button id="Polygon">Add Solar Panels</button>
        	</div>
        <div class="toolButton">
        	<button id="clearMap">Clear Map</button>
        </div>
	</div>
	
    <div id="selectedPanel" style="clear: both;">
        <p id="selectedP">Selected Panels </p>
        <p class="clear">Area (m2): {{selectedGraphic.attributes.area  | number : 0}}</p>
        <p class="clear">Energy (kWh): {{selectedGraphic.attributes.energy | number : 0}}</p>
        <div><button id="deleteSelected" ng-click="deleteGraphic();">Delete Selected</button></div>
    </div>
 
 <div google-chart chart='chartObject' style='{{chart.cssStyle}}'></div>
    <img style="width: 100%;margin: 10px;" src="images/legend.png"/>
    
</div>
<div class="mainContent">
    <div class="mainContentMapContainer"
    	ng-controller="MapController">
        <div id="geocoder"></div>
        <ng-map id="map" 
        	center="-8128741.845769273,5529208.858634029" 
        	zoom="14" 
        	basemap="topo" 
        	onclick="click"
        	order="0">
        </ng-map>
    </div>
</div>
